/*Task
6 containers total

mobile first: simple layout one column

first breakpoint: make first and last containers >>> to be rightmost(1st) and leftmost(last)
                    also switch places : 2 and 3, 4 and 5

second breakpoint: make both first and 6th container be at the top
                    also reswitch 2 and 3, 4 and 5
                    but now for 4 and 5 should be above 2 and 3
*/

* {/*reset some props for work from scratch

    TODO: figure out: more approaches for reset
    ALSO TODO: figure out: definitely for most CSS files there can be most common
    boilerplates just like for HTML.
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*text coded blocks, later will be some images*/



p {
    font-size: 1.3rem;
    text-align: center;
    
}


body {
    height: 100vh;
    font-size: 1rem;/*also need minsize for fonts, 
                    or maintain size with breakpoints more flexible*/
}

.flexcontainer { /*apparently need height 100% for subs, otherwise some boxes will collapse*/
    height: 100%;
    /*don't need any change in flex-direction, can deal with default values*/
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

body, .flexcontainer, .box {
    width:100%; /*every .box will fit on its own row for small screens*/
    
}

/*colorcoding boxes for testing/experimenting purposes*/

/*min-max height will depend on amount of text
or image size
or any content-specifics*/


/*assume we wanna 3 boxes in the vw on small screens - for now it works*/
.box {
    min-height: 33.33vh;    
}

.subcontainer {
    max-height: 66.66vh;
}

.firstbox {
    background-color: rgb(17, 168, 105);
}

.secondbox {
    background-color: crimson;
}

.thirdbox {
    background-color: rgb(213, 187, 192);
}

.fourthbox {
    background-color: rgb(242, 233, 235);
}

.fifthbox {
    background-color: greenyellow
}

.sixthbox {
    background-color: blueviolet;
}

/*breakpoint values for mediaqueries for now generic,

actual breakpoints MUST depend on content
*/

/*first breakpoint*/

@media screen and (min-width: 650px) {
    .firstbox, .secondbox {
        order: 1;        
    }

    .sixthbox, .thirdbox {
        order: -1;
        
    }

    .subcontainer, .firstbox, .sixthbox {
        width: 25%;
    }

    /*not sure what i am missing about height*/
    .box {
        min-height: 50vh;
    }
}











