* {/*reset some props for work from scratch

    TODO: figure out: more approaches for reset
    ALSO TODO: figure out: definitely for most CSS files there are most common
    boilerplate just like for HTML.
    */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.flexcontainer {
    height: 100%;
    /*don't need any change in flex-direction, can deal with default values*/
    display: flex;
    flex-wrap: wrap;
}

body, .flexcontainer, .box {
    width:100% /*every .box will fit on its own row for small screens*/
}

/*colorcoding boxes for testing/experimenting purposes*/

.firstbox {
    background-color: rgb(17, 168, 105);
}

.secondbox {
    background-color: crimson;
}

.thirdbox {
    background-color: rgb(86, 42, 50);
}

.fourthbox {
    background-color: rgb(242, 233, 235);
}

/*breakpoint values for mediaqueries for now generic,

actual breakpoints MUST depend on content
*/

/*FIGURE OUT about hiding/changing text dependin g on breakpoints
with pure CSS

is there elegant approach or we need
some tactics like for SCREENREADERS-ONLY
*/

/*first breakpoint >>> need 3-row layout, minimize middle boxes*/

@media screen and (min-width: 500px) {
    .secondbox, .thirdbox {
        width: 50%; 
    }
}

/*second breakpoint minimize the rest >>> 2-row layout*/

@media screen and (min-width: 900px) {
    .box {
        width: 50%; 
    }
}

/*for some very wide VW >>> lets make it one row*/

@media screen and (min-width: 1350px) {
    .box {
        width: 25%;
    }
}