/*Task
6 containers total

mobile first: simple layout one column

first breakpoint: make first and last containers >>> to be rightmost(1st) and leftmost(2nd)
                    also switch places : 2 and 3, 4 and 5

second breakpoint: make both first and 6th container be at the top
                    also reswitch 2 and 3, 4 and 5
                    but now for 4 and 5 should be above 2 and 3
*/

* {/*reset some props for work from scratch

    TODO: figure out: more approaches for reset
    ALSO TODO: figure out: definitely for most CSS files there can be most common
    boilerplates just like for HTML.
    */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 1rem;/*also need minsize for fonts, 
                    or maintain size with breakpoints more flexible*/
}

.flexcontainer {
    height: 100%;
    /*don't need any change in flex-direction, can deal with default values*/
    display: flex;
    flex-wrap: wrap;
}

body, .flexcontainer, .box {
    width:100% /*every .box will fit on its own row for small screens*/
}

/*colorcoding boxes for testing/experimenting purposes*/

/*min-max height will depend on amount of text
or image size
or any content-specifics*/

.box {
    min-height:300px;
    max-height:600px;    
}

.firstbox {
    background-color: rgb(17, 168, 105);
}

.secondbox {
    background-color: crimson;
}

.thirdbox {
    background-color: rgb(213, 187, 192);
}

.fourthbox {
    background-color: rgb(242, 233, 235);
}

.fifthbox {
    background-color: greenyellow
}

.sixthbox {
    background-color: blueviolet;
}

/*breakpoint values for mediaqueries for now generic,

actual breakpoints MUST depend on content
*/














